name: TagBotSindbadTEM
on:
  issue_comment:
    types:
      - created
  workflow_dispatch:
jobs:
  TagBot:
    if: github.event_name == 'workflow_dispatch' || github.actor == 'JuliaTagBot'
    runs-on: ubuntu-latest
    steps:
      - uses: JuliaRegistries/TagBot@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          # Use a tag prefix since this is a monorepo with multiple packages.
          # This prevents collisions with `Sindbad` tags (e.g. both wanting `v0.1.0`).
          ssh: ${{ secrets.DOCUMENTER_KEY }}
          subdir: SindbadTEM
          tag_prefix: SindbadTEM-